{
  "serverInfo": {
    "port": "7199",
    "host": "localhost",
    "numQueryThreads": 2
  },
  "queryInfos": [
    {
      "obj": "org.apache.cassandra.db:type=StorageService",
      "resultAlias": "cassandra.storageservice",
      "attr": [
        { "name" : "Load", "type" : "GAUGE:0:U" },
        { "name" : "ExceptionCount", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "org.apache.cassandra.db:type=Commitlog",
      "resultAlias": "cassandra.commitlog",
      "attr": [
        { "name" : "CompletedTasks", "type" : "GAUGE:0:U" },
        { "name" : "PendingTasks", "type" : "GAUGE:0:U" },
        { "name" : "TotalCommitlogSize", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "org.apache.cassandra.db:type=CompactionManager",
      "resultAlias": "cassandra.compactionmanager",
      "attr": [
        { "name" : "PendingTasks", "type" : "GAUGE:0:U" },
        { "name" : "CompletedTasks", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "org.apache.cassandra.concurrent:type=ROW-MUTATION-STAGE",
      "resultAlias": "cassandra.stage.MutationStage",
      "attr": [
        { "name" : "ActiveCount", "type" : "GAUGE:0:U" },
        { "name" : "CompletedTasks", "type" : "GAUGE:0:U" },
        { "name" : "CurrentlyBlockedTasks", "type" : "GAUGE:0:U" },
        { "name" : "PendingTasks", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "org.apache.cassandra.concurrent:type=CONSISTENCY-MANAGER",
      "resultAlias": "cassandra.stage.ReadRepairStage",
      "attr": [
        { "name" : "ActiveCount", "type" : "GAUGE:0:U" },
        { "name" : "CompletedTasks", "type" : "GAUGE:0:U" },
        { "name" : "CurrentlyBlockedTasks", "type" : "GAUGE:0:U" },
        { "name" : "PendingTasks", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "org.apache.cassandra.concurrent:type=ROW-READ-STAGE",
      "resultAlias": "cassandra.stage.ReadStage",
      "attr": [
        { "name" : "ActiveCount", "type" : "GAUGE:0:U" },
        { "name" : "CompletedTasks", "type" : "GAUGE:0:U" },
        { "name" : "CurrentlyBlockedTasks", "type" : "GAUGE:0:U" },
        { "name" : "PendingTasks", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "org.apache.cassandra.request:type=ReplicateOnWriteStage",
      "resultAlias": "cassandra.stage.ReplicateOnWriteStage",
      "attr": [
        { "name" : "ActiveCount", "type" : "GAUGE:0:U" },
        { "name" : "CompletedTasks", "type" : "GAUGE:0:U" },
        { "name" : "CurrentlyBlockedTasks", "type" : "GAUGE:0:U" },
        { "name" : "PendingTasks", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "org.apache.cassandra.concurrent:type=RESPONSE-STAGE",
      "resultAlias": "cassandra.stage.RequestResponseStage",
      "attr": [
        { "name" : "ActiveCount", "type" : "GAUGE:0:U" },
        { "name" : "CompletedTasks", "type" : "GAUGE:0:U" },
        { "name" : "CurrentlyBlockedTasks", "type" : "GAUGE:0:U" },
        { "name" : "PendingTasks", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "org.apache.cassandra.internal:type=AntiEntropySessions",
      "resultAlias": "cassandra.internal.AntiEntropySessions",
      "attr": [
        { "name" : "ActiveCount", "type" : "GAUGE:0:U" },
        { "name" : "CompletedTasks", "type" : "GAUGE:0:U" },
        { "name" : "CurrentlyBlockedTasks", "type" : "GAUGE:0:U" },
        { "name" : "PendingTasks", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "org.apache.cassandra.internal:type=AntiEntropyStage",
      "resultAlias": "cassandra.internal.AntiEntropyStage",
      "attr": [
        { "name" : "ActiveCount", "type" : "GAUGE:0:U" },
        { "name" : "CompletedTasks", "type" : "GAUGE:0:U" },
        { "name" : "CurrentlyBlockedTasks", "type" : "GAUGE:0:U" },
        { "name" : "PendingTasks", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "org.apache.cassandra.internal:type=FlushWriter",
      "resultAlias": "cassandra.internal.FlushWriter",
      "attr": [
        { "name" : "ActiveCount", "type" : "GAUGE:0:U" },
        { "name" : "CompletedTasks", "type" : "GAUGE:0:U" },
        { "name" : "CurrentlyBlockedTasks", "type" : "GAUGE:0:U" },
        { "name" : "PendingTasks", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "org.apache.cassandra.internal:type=GossipStage",
      "resultAlias": "cassandra.internal.GossipStage",
      "attr": [
        { "name" : "ActiveCount", "type" : "GAUGE:0:U" },
        { "name" : "CompletedTasks", "type" : "GAUGE:0:U" },
        { "name" : "CurrentlyBlockedTasks", "type" : "GAUGE:0:U" },
        { "name" : "PendingTasks", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "org.apache.cassandra.internal:type=HintedHandoff",
      "resultAlias": "cassandra.internal.HintedHandoff",
      "attr": [
        { "name" : "ActiveCount", "type" : "GAUGE:0:U" },
        { "name" : "CompletedTasks", "type" : "GAUGE:0:U" },
        { "name" : "CurrentlyBlockedTasks", "type" : "GAUGE:0:U" },
        { "name" : "PendingTasks", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "org.apache.cassandra.internal:type=InternalResponseStage",
      "resultAlias": "cassandra.internal.InternalResponseStage",
      "attr": [
        { "name" : "ActiveCount", "type" : "GAUGE:0:U" },
        { "name" : "CompletedTasks", "type" : "GAUGE:0:U" },
        { "name" : "CurrentlyBlockedTasks", "type" : "GAUGE:0:U" },
        { "name" : "PendingTasks", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "org.apache.cassandra.internal:type=MemtablePostFlusher",
      "resultAlias": "cassandra.internal.MemtablePostFlusher",
      "attr": [
        { "name" : "ActiveCount", "type" : "GAUGE:0:U" },
        { "name" : "CompletedTasks", "type" : "GAUGE:0:U" },
        { "name" : "CurrentlyBlockedTasks", "type" : "GAUGE:0:U" },
        { "name" : "PendingTasks", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "org.apache.cassandra.internal:type=MigrationStage",
      "resultAlias": "cassandra.internal.MigrationStage",
      "attr": [
        { "name" : "ActiveCount", "type" : "GAUGE:0:U" },
        { "name" : "CompletedTasks", "type" : "GAUGE:0:U" },
        { "name" : "CurrentlyBlockedTasks", "type" : "GAUGE:0:U" },
        { "name" : "PendingTasks", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "org.apache.cassandra.internal:type=MiscStage",
      "resultAlias": "cassandra.internal.MiscStage",
      "attr": [
        { "name" : "ActiveCount", "type" : "GAUGE:0:U" },
        { "name" : "CompletedTasks", "type" : "GAUGE:0:U" },
        { "name" : "CurrentlyBlockedTasks", "type" : "GAUGE:0:U" },
        { "name" : "PendingTasks", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "org.apache.cassandra.internal:type=StreamStage",
      "resultAlias": "cassandra.internal.StreamStage",
      "attr": [
        { "name" : "ActiveCount", "type" : "GAUGE:0:U" },
        { "name" : "CompletedTasks", "type" : "GAUGE:0:U" },
        { "name" : "CurrentlyBlockedTasks", "type" : "GAUGE:0:U" },
        { "name" : "PendingTasks", "type" : "GAUGE:0:U" }
      ]
    }
  ]
}
