{
  "serverInfo": {
    "port": "JMX PORT",
    "host": "localhost",
    "numQueryThreads": 2
  },
  "queryInfos": [
    {
      "obj": "MBEAN_PATH",
      "resultAlias": "MYAPP.MYSUBYSTEM.PREFIX",
      "attr": [
        { "name" : "MBEAN_ATTRIBUTE_1", "type" : "GAUGE:0:U" },
        { "name" : "MBEAN_ATTRIBUTE_2", "type" : "COUNTER:0:100" },
        { "name" : "MBEAN_ATTRIBUTE_3", "type" : "ABSOLUTE:0:5" },
        { "name" : "MBEAN_ATTRIBUTE_4", "type" : "DERIV:0:U" }
      ]
    },
    {
      "obj": "MBEAN_2 PATH",
      "resultAlias": "MYAPP.MYSUBYSTEM.PREFIX",
      "attr": [
        { "name" : "MBEAN_ATTRIBUTE", "type" : "GAUGE:0:U" }
      ]
    }
  ]
}
