{
  "serverInfo": {
    "port": "HBASE_JMX_PORT",
    "host": "HBASE_JMX_HOST",
    "numQueryThreads": 3
  },
  "queryInfos": [
    {
      "obj": "Hadoop:service=HBase,name=Master,sub=Server",
      "attr": [
        { "name" : "averageLoad", "type" : "GAUGE:0:U" },
        { "name" : "numRegionServers", "type" : "GAUGE:0:U" },
        { "name" : "numDeadRegionServers", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdhbase.Master.Server"
    },
    {
      "obj": "Hadoop:service=HBase,name=IPC,sub=IPC",
      "attr": [
        { "name" : "sentBytes", "type" : "GAUGE:0:U" },
        { "name" : "receivedBytes", "type" : "GAUGE:0:U" },
        { "name" : "queueSize", "type" : "GAUGE:0:U" },
        { "name" : "numOpenConnections", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdhbase.IPC.IPC"
    },
    {
      "obj": "Hadoop:service=HBase,name=RegionServer,sub=Server",
      "attr": [
        { "name" : "blockCacheCount", "type" : "GAUGE:0:U" },
        { "name" : "blockCacheEvictionCount", "type" : "GAUGE:0:U" },
        { "name" : "blockCacheFreeSize", "type" : "GAUGE:0:U" },
        { "name" : "blockCacheHitCount", "type" : "GAUGE:0:U" },
        { "name" : "blockCountHitPercent", "type" : "GAUGE:0:U" },
        { "name" : "blockCacheMissCount", "type" : "GAUGE:0:U" },
        { "name" : "blockCacheSize", "type" : "GAUGE:0:U" },
        { "name" : "compactionQueueLength", "type" : "GAUGE:0:U" },
        { "name" : "flushQueueLength", "type" : "GAUGE:0:U" },
        { "name" : "memStoreSize", "type" : "GAUGE:0:U" },
        { "name" : "storeCount", "type" : "GAUGE:0:U" },
        { "name" : "readRequestCount", "type" : "GAUGE:0:U" },
        { "name" : "storeFileIndexSize", "type" : "GAUGE:0:U" },
        { "name" : "writeRequestCount", "type" : "GAUGE:0:U" },
        { "name" : "totalRequestCount", "type" : "GAUGE:0:U" },
        { "name" : "slowAppendCount", "type" : "GAUGE:0:U" },
        { "name" : "slowPutCount", "type" : "GAUGE:0:U" },
        { "name" : "slowGetCount", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdhbase.RegionServer.RegionServerStatistics"
    }
  ]
}
