{
  "serverInfo": {
    "port": "HBASE_JMX_PORT",
    "host": "HBASE_JMX_HOST",
    "numQueryThreads": 2
  },
  "queryInfos": [
    {
      "obj": "hadoop:service=RegionServer,name=RegionServerStatistics",
      "attr": [
        { "name" : "blockCacheExpressCachingRatio", "type" : "GAUGE:0:U" },
        { "name" : "blockCacheHitCachingRatio", "type" : "GAUGE:0:U" },
        { "name" : "callQueueLength", "type" : "GAUGE:0:U" },
        { "name" : "compactionQueueLength", "type" : "GAUGE:0:U" },
        { "name" : "compactionQueueSize", "type" : "GAUGE:0:U" },
        { "name" : "flushQueueSize", "type" : "GAUGE:0:U" },
        { "name" : "hdfsBlocksLocalityIndex", "type" : "GAUGE:0:U" },
        { "name" : "memstoreSizeMB", "type" : "GAUGE:0:U" },
        { "name" : "numberOfOnlineRegions", "type" : "GAUGE:0:U" },
        { "name" : "readRequestsCount", "type" : "GAUGE:0:U" },
        { "name" : "slowHLogAppendCount", "type" : "GAUGE:0:U" },
        { "name" : "usedHeapMB", "type" : "GAUGE:0:U" },
        { "name" : "writeRequestsCount", "type" : "GAUGE:0:U" },
        { "name" : "blockCacheCount", "type" : "GAUGE:0:U" },
        { "name" : "blockCacheEvictedCount", "type" : "GAUGE:0:U" },
        { "name" : "blockCacheFreeMB", "type" : "GAUGE:0:U" },
        { "name" : "blockCacheHitCount", "type" : "GAUGE:0:U" },
        { "name" : "blockCacheMissCount", "type" : "GAUGE:0:U" },
        { "name" : "blockCacheSizeMB", "type" : "GAUGE:0:U" },
        { "name" : "fsPreadLatencyNumOps", "type" : "GAUGE:0:U" },
        { "name" : "fsReadLatencyNumOps", "type" : "GAUGE:0:U" },
        { "name" : "fsWriteLatencyNumOps", "type" : "GAUGE:0:U" },
        { "name" : "NumberOfStores", "type" : "GAUGE:0:U" },
        { "name" : "NumberOfStorefiles", "type" : "GAUGE:0:U" },
        { "name" : "requestsPerSecond", "type" : "GAUGE:0:U" },
        { "name" : "storeFileIndexSizeMB", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdhbase.RegionServer.RegionServerStatistics"
    }
  ]
}
