{
  "serverInfo": {
    "port": "HBASE_THRIFT_JMX_PORT",
    "host": "HBASE_THRIFT_JMX_HOST",
    "numQueryThreads": 2
  },
  "queryInfos": [
    {
      "obj": "Hadoop:service=HBase,name=Thrift,sub=ThriftOne",
      "attr": [
        { "name" : "callQueueLen", "type" : "GAUGE:0:U" },
        { "name" : "SlowThriftCall_mean", "type" : "GAUGE:0:U" },
        { "name" : "TimeInQueue_mean", "type" : "GAUGE:0:U" },
        { "name" : "ThriftCall_mean", "type" : "GAUGE:0:U" },
        { "name" : "BatchGet_mean", "type" : "GAUGE:0:U" },
        { "name" : "BatchMutate_mean", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdhbase.Thrift.ThriftOne"
    },
    {
      "obj": "Hadoop:service=HBase,name=Thrift,sub=ThriftTwo",
      "attr": [
        { "name" : "callQueueLen", "type" : "GAUGE:0:U" },
        { "name" : "SlowThriftCall_mean", "type" : "GAUGE:0:U" },
        { "name" : "TimeInQueue_mean", "type" : "GAUGE:0:U" },
        { "name" : "ThriftCall_mean", "type" : "GAUGE:0:U" },
        { "name" : "BatchGet_mean", "type" : "GAUGE:0:U" },
        { "name" : "BatchMutate_mean", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdhbase.Thrift.ThriftTwo"
    }
  ]
}
