{
  "serverInfo": {
    "port": "KAFKA_JMX_PORT",
    "host": "KAFKA_JMX_HOST"
  },
  "queryInfos": [
    {
      "obj": "kafka.log:type=LogFlushStats,name=LogFlushRateAndTimeMs",
      "attr": [
        { "name" : "Count", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.log.LogFlushStats.LogFlush"
    },
    {
      "obj": "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec",
      "attr": [
        { "name" : "Count", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.server.BrokerTopicMetrics.AllTopicsBytesIn"
    },
    {
      "obj": "kafka.server:type=BrokerTopicMetrics,name=FailedFetchRequestsPerSec",
      "attr": [
        { "name" : "Count", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.server.BrokerTopicMetrics.AllTopicsFailedFetchRequests"
    },
    {
      "obj": "kafka.server:type=BrokerTopicMetrics,name=FailedProduceRequestsPerSec",
      "attr": [
        { "name" : "Count", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.server.BrokerTopicMetrics.AllTopicsFailedProduceRequests"
    },
    {
      "obj": "kafka.server:type=BrokerTopicMetrics,name=MessagesInPerSec",
      "attr": [
        { "name" : "Count", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.server.BrokerTopicMetrics.AllTopicsMessagesIn"
    },
    {
      "obj": "kafka.server:type=BrokerTopicMetrics,name=BytesOutPerSec",
      "attr": [
        { "name" : "Count", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.server.BrokerTopicMetrics.AllTopicsBytesOut"
    },
    {
      "obj": "kafka.server:type=ReplicaManager,name=UnderReplicatedPartitions",
      "attr": [
        { "name" : "Value", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.server.ReplicaManager.UnderReplicatedPartitions"
    },
    {
      "obj": "kafka.server:type=ReplicaManager,name=PartitionCount",
      "attr": [
        { "name" : "Value", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.server.ReplicaManager.PartitionCount"
    },
    {
      "obj": "kafka.server:type=ReplicaManager,name=LeaderCount",
      "attr": [
        { "name" : "Value", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.server.ReplicaManager.LeaderCount"
    },
    {
      "obj": "kafka.server:type=ReplicaManager,name=IsrShrinksPerSec",
      "attr": [
        { "name" : "Count", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.server.ReplicaManager.ISRShrinks"
    },
    {
      "obj": "kafka.server:type=ReplicaManager,name=IsrExpandsPerSec",
      "attr": [
        { "name" : "Count", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.server.ReplicaManager.ISRExpands"
    },
    {
      "obj": "kafka.server:type=ReplicaFetcherManager,name=MaxLag,clientId=Replica",
      "attr": [
        { "name" : "Value", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.server.ReplicaFetcherManager.MaxLag"
    },
    {
      "obj": "kafka.server:type=ReplicaFetcherManager,name=MinFetchRate,clientId=Replica",
      "attr": [
        { "name" : "Value", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.server.ReplicaFetcherManager.MinFetchRate"
    },
    {
      "obj": "kafka.server:type=ProducerRequestPurgatory,name=NumDelayedRequests",
      "attr": [
        { "name" : "Value", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.server.ProducerRequestPurgatory.NumDelayedRequests"
    },
    {
      "obj": "kafka.server:type=ProducerRequestPurgatory,name=PurgatorySize",
      "attr": [
        { "name" : "Value", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.server.ProducerRequestPurgatory.PurgatorySize"
    },
    {
      "obj": "kafka.server:type=FetchRequestPurgatory,name=NumDelayedRequests",
      "attr": [
        { "name" : "Value", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.server.FetchRequestPurgatory.NumDelayedRequests"
    },
    {
      "obj": "kafka.server:type=FetchRequestPurgatory,name=PurgatorySize",
      "attr": [
        { "name" : "Value", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.server.FetchRequestPurgatory.PurgatorySize"
    },
    {
      "obj": "kafka.network:type=RequestMetrics,name=RequestsPerSec,request=Produce",
      "attr": [
        { "name" : "Count", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.network.RequestMetrics.ProduceRequests"
    },
    {
      "obj": "kafka.network:type=RequestMetrics,name=RequestsPerSec,request=FetchFollower",
      "attr": [
        { "name" : "Count", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.network.RequestMetrics.FetchFollowerRequests"
    },
    {
      "obj": "kafka.network:type=RequestMetrics,name=RequestsPerSec,request=FetchConsumer",
      "attr": [
        { "name" : "Count", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.network.RequestMetrics.FetchConsumerRequests"
    },
    {
      "obj": "kafka.controller:type=KafkaController,name=ActiveControllerCount",
      "attr": [
        { "name" : "Value", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.controller.KafkaController.ActiveControllerCount"
    },
    {
      "obj": "kafka.controller:type=KafkaController,name=OfflinePartitionsCount",
      "attr": [
        { "name" : "Value", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.controller.KafkaController.OfflinePartitionsCount"
    },
    {
      "obj": "kafka.controller:type=ControllerStats,name=LeaderElectionRateAndTimeMs",
      "attr": [
        { "name" : "Count", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.controller.ControllerStats.LeaderElection"
    },
    {
      "obj": "kafka.controller:type=ControllerStats,name=UncleanLeaderElectionsPerSec",
      "attr": [
        { "name" : "Count", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.controller.ControllerStats.UncleanLeaderElection"
    },
    {
      "obj": "kafka.consumer:type=ConsumerFetcherManager,name=MaxLag,*",
      "attr": [
        { "name" : "Value", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.consumer.ConsumerFetcherManager.MaxLag"
    },
    {
      "obj": "kafka.consumer:type=ConsumerFetcherManager,name=MinFetchRate,*",
      "attr": [
        { "name" : "Value", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.consumer.ConsumerFetcherManager.MinFetchRate"
    },
    {
      "obj": "kafka.producer:type=producer-metrics,*",
      "attr": [
        { "name" : "request-size-avg", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.producer.ProducerRequestsMetrics.AllBrokersProducerRequestSize"
    },
    {
      "obj": "kafka.producer:type=producer-metrics,*",
      "attr": [
        { "name" : "request-rate", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.producer.ProducerRequestsMetrics.AllBrokersProducerRequestRate"
    },
    {
      "obj": "kafka.producer:type=producer-metrics,*",
      "attr": [
        { "name" : "record-error-rate", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.producer.ProducerStats.FailedSendsPerSec"
    },
    {
      "obj": "kafka.producer:type=producer-metrics,*",
      "attr": [
        { "name" : "outgoing-byte-rate", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.producer.ProducerTopicMetrics.AllTopicsBytes"
    },
    {
      "obj": "kafka.producer:type=producer-metrics,*",
      "attr": [
        { "name" : "record-error-rate", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.producer.ProducerTopicMetrics.AllTopicsDroppedMessages"
    },
    {
      "obj": "kafka.producer:type=producer-metrics,*",
      "attr": [
        { "name" : "request-rate", "type" : "GAUGE:0:U" }
      ],
      "resultAlias": "sdkafka.producer.ProducerTopicMetrics.AllTopicsMessages"
    }
  ]
}
