{
  "serverInfo": {
    "port": "TOMCAT_JMX_PORT",
    "host": "TOMCAT_JMX_HOST",
    "numQueryThreads": 2
  },
  "queryInfos": [
    {
      "obj": "Catalina:type=ThreadPool,name=*",
      "resultAlias": "tomcat.connectors",
      "attr": [
        { "name" : "currentThreadCount", "type" : "GAUGE:0:U" },
        { "name" : "currentThreadsBusy", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "Catalina:type=Manager,context=*,host=*",
      "resultAlias": "tomcat.manager",
      "attr": [
        { "name" : "activeSessions", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "Catalina:type=GlobalRequestProcessor,name=*",
      "resultAlias": "tomcat.requestProcessor",
      "attr": [
        { "name" : "bytesReceived", "type" : "GAUGE:0:U" },
        { "name" : "bytesSent", "type" : "GAUGE:0:U" },
        { "name" : "errorCount", "type" : "GAUGE:0:U" },
        { "name" : "processingTime", "type" : "GAUGE:0:U" },
        { "name" : "requestCount", "type" : "GAUGE:0:U" }
      ]
    },
    {
      "obj": "Catalina:type=DataSource,context=*,host=*,class=javax.sql.DataSource,name=*",
      "resultAlias": "tomcat.data-source",
      "attr": [
        { "name" : "numActive", "type" : "GAUGE:0:U" },
        { "name" : "numIdle", "type" : "GAUGE:0:U" }
      ]
    }
  ]
}
